body{
  font-family: "montserrat";
  text-align: center;
}
#title{
  background-color: rgb(179, 156, 201);
  padding: 5% 7%;
}
.navbar-brand{
  font-family: "ubantu";
  width: bold;
  line-height: 1.5;
}
.navbar{
  margin: -1.5rem 0 2.5rem;
}
.nav-item{
  padding: 3% 5%;
}
.summery{
  
  text-align: left;
  font-size: bold;
  font-family: "montserrat";
  line-height: 1.5;
}
.title-image{
  transform: rotate(25deg);
  padding-top: 4%;
  
}
#contact{
  font-family: "montserrat";
  font-weight: bold;
  background-color: rgb(179, 156, 201);
  padding: 3% 5%;

}
.contact h3{
  text-align: left;
  font-family: "ubantu";
  width: bold;
  padding: 1px 3px;
}
.contact-details{
  text-align: center;
  
}



#products{
  background-color: rgb(163, 202, 235);
 
}
h3{
  font-family: "montserrat";
  padding: 3% 5%;
}
.carousel-inner{
  padding-left: 15%;
  width: 1000px;
  height: 600px;
}
#avialable-on{
  padding: 3% 5%;
  background-color:  rgb(179, 156, 201);
}
.logo-image{
  width: fit-content;
  
}
.social-icon {
  margin: 20px 10px;
  
}
#footer{
  background-color: rgb(163, 202, 235);
  padding: 2% 3%;
}
.white-section{
 
  text-align: center;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
  .contact-details{
    text-align: center;
  }
}













